@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.color-text-landing-title {
  @apply text-3xl md:text-2xl font-extrabold bg-clip-text text-yellow-400 tracking-tight;
  font-family: var(--font-geist-sans);
}

.color-text{
  @apply text-white font-bold tracking-tight;
  font-family: var(--font-geist-mono);
}

.color-text-black{
  @apply text-gray-600 font-bold tracking-tight;
  font-family: var(--font-geist-mono);
}

/* .text-landing-title {
  @apply text-3xl md:text-4xl font-bold text-center text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 to-indigo-900 mb-10 tracking-tight;
  font-family: var(--font-geist-sans);
} */

.text-landing-subtitle {
  @apply text-3xl md:text-2xl font-extrabold text-cyan-500 mb-10 tracking-tight;
  font-family: var(--font-geist-sans);
}

.text-landing-title{
  @apply text-4xl md:text-6xl font-extrabold text-center bg-clip-text tracking-tight text-[#8B0000];
  font-family: var(--font-geist-sans);
}